@model AspNetIdentitySample.WebApplication.ViewModels.UserListViewModel

<table class="app-user-list">
  <thead class="app-user-list__header">
    <tr>
      <th class="app-user-list__cell app-user-list__cell_name"><span>Name</span></th>
      <th class="app-user-list__cell app-user-list__cell_email"><span>Email</span></th>
      <th class="app-user-list__cell app-user-list__cell_roles"><span>Roles</span></th>

      @if (Model.User.IsAdmin)
      {
        <th class="app-user-list__cell app-user-list__cell_actions"><span>Actions</span></th>
      }

    </tr>
  </thead>
  <tbody class="app-user-list__body">
    @foreach (var user in Model.Users)
    {
      <tr>
        <td class="app-user-list__cell app-user-list__cell_name"><span>@user.LastName, @user.FirstName</span></td>
        <td class="app-user-list__cell app-user-list__cell_email"><span>@user.Email</span></td>
        <td class="app-user-list__cell app-user-list__cell_roles"><span>@user.Roles</span></td>

        @if (Model.User.IsAdmin)
        {
          <td class="app-user-list__cell app-user-list__cell_actions">

            <a class="app-user-list__action" asp-controller="User" asp-action="Get" asp-route-userId="@user.UserId" asp-route-returnUrl="@Context.Request.Path"><span>Edit</span></a>
            <a class="app-user-list__action" data-bs-toggle="modal" data-bs-target="#deleteDlg-@(user.UserId)"><span>Delete</span></a>

            <div class="modal fade" id="deleteDlg-@(user.UserId)" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="app-modal modal-dialog">
                <div class="app-modal__content">
                  <div class="app-modal__body">
                    <p class="app-modal__text">Are you sure you want to delete the following user?</p>
                    <p class="app-modal__text">@user.FirstName @user.LastName, @user.Email</p>
                  </div>
                  <div class="app-modal__footer">
                    <a class="app-modal__close" data-bs-dismiss="modal"><span>Close</span></a>
                    <form method="post" asp-controller="UserList" asp-action="Delete" asp-route-userId="@user.UserId">
                      <button class="app-modal__ok" type="submit"><span>Ok</span></button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        }

      </tr>
    }
  </tbody>
</table>
